body{
    margin: 0;
    padding: 0;
}

.main-div{
    max-width: full;
    max-height: 120px;
    background-color: darkolivegreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}